@charset "UTF-8";

*{
    margin:0%;
    padding: 0%;
}

html,body{
    height: 100vh;
}

header{
    padding:10px ;
     background-color: black;
     color: white;
     text-align: center;
}

header > a {
    text-decoration: none;
    color: white;
}

:hover  > a{
    text-decoration: overline;
}

.imagem{
    background-color: rgba(0, 0, 0, 0.068);
    color: black;
}

section{
    padding: 10px;
    margin: 10px;
    font-size: 3.4vw;
}

section.nada{
    background-color: rgba(0, 0, 0, 0.404);
}

section.nada > p {
    background-color: black;
    color: white;
}
